/* your code here */


.top {
	display:flex;

}

.media-icons{
	dispaly:flex;
	position:fixed;
	right:150px;

}

.bottom-details{
	display: flex;
}
.link-boxes{
	display:flex;
	
}
.link-boxes>div{
	margin-right:200px;
	margin-bottom:10px;
	
}

.bottom-details{
	display:flex;
	
}
.bottom-details>a{
	position:fixed;
	right:50px;
}


.content,.bottom-details{
	background-color:black;
	color:white;
}